table {
    width: 580px;
    margin-top: 50px;
}

th {
    color: white;
    background-color: midnightblue;
}

table, th, td {
    border: 1px solid darkgrey;
    border-collapse: collapse;
}

th, td {
    padding: 7px;
}

tr:nth-child(odd){
    background-color: white;
}

tr:nth-child(even) {
    background-color: aliceblue;
}

td {
    color: black;
    text-align: center;
}