thead, td, th {
    border: 1px solid var(--vscode-input-foreground); 
    border-collapse: separate; 
}

table {
    margin-right: 10px;
    border-spacing: 0px;
}

th, td {
    padding: 7px;
}

thead, th {
    position: sticky;
    /* top: 0; */
    background-color: var(--vscode-sideBar-background);
}

td {
    text-align: center;
}

pre {
    font-family: var(--vscode-font-family);
}

.context-table {
    overflow-y: scroll;
    /* TODO: adjust to monitor */
    height: 1000px;
}

/* 
--vscode-checkbox-border
--vscode-badge-background
--vscode-editorWidget-border
--vscode-menu-separatorBackground
--vscode-settings-dropdownBorder

--vscode-inputOption-activeBackground

--vscode-editor-selectionBackground
--vscode-minimap-selectionHighlight
--vscode-editorSuggestWidget-focusHighlightForeground
*/