th {
    background-color: var(--vscode-sideBar-background);
}

/* tr:nth-child(odd){
    background-color: var(--vscode-input-background);
} */

/* tr:nth-child(even) {
    background-color: var(vscode-scrollbar-shadow);
} */

td {
    text-align: center;
}

table, th, td {
    border: 1px solid var(--vscode-input-foreground); 
    border-collapse: collapse; 
    padding: 7px;
    /* color: var(--vscode-foreground); */
    margin-top: 50px;
}

/* 
--vscode-checkbox-border
--vscode-badge-background
--vscode-editorWidget-border
--vscode-menu-separatorBackground
--vscode-settings-dropdownBorder

--vscode-inputOption-activeBackground

--vscode-editor-selectionBackground
--vscode-minimap-selectionHighlight
--vscode-editorSuggestWidget-focusHighlightForeground
*/