/*
 * KIELER - Kiel Integrated Environment for Layout Eclipse RichClient
 *
 * http://rtsys.informatik.uni-kiel.de/kieler
 *
 * Copyright 2023 by
 * + Kiel University
 *   + Department of Computer Science
 *     + Real-Time and Embedded Systems Group
 *
 * This program and the accompanying materials are made available under the
 * terms of the Eclipse Public License 2.0 which is available at
 * http://www.eclipse.org/legal/epl-2.0.
 *
 * SPDX-License-Identifier: EPL-2.0
 */
 
@import "./options.css";
@import "./sidebar.css";
@import "./theme.css";
@import "./stpa-diagram.css";
@import "./fta-diagram.css";
@import "./context-menu.css";

.collapse-expand-triangle {
    fill: darkgrey;
}

.collapse-expand-sign {
    stroke: white;
}

.header {
    text-decoration-line: underline;
    font-weight: bold;
}

/* sprotty and black/white colors */
.vscode-high-contrast .print-node {
    stroke: white;
    fill-opacity: 0;
}

.vscode-high-contrast .sprotty-node {
    fill: #0c598d;
    stroke: black;
}

.vscode-dark .print-node {
    stroke: var(--vscode-editor-foreground);
    fill-opacity: 0;
}

.vscode-dark .sprotty-node {
    fill: #0c598d;
    stroke: black;
}

.vscode-light .print-node {
    stroke: black;
    fill-opacity: 0;
}

.vscode-light .sprotty-node {
    fill: #50b1f1;
    stroke: black;
}

.print-edge {
    stroke: var(--vscode-editor-foreground);
}

.print-edge-arrow {
    fill: var(--vscode-editor-foreground);
    stroke: var(--vscode-editor-foreground);
}

/* Selected node */
.sprotty-node.selected {
    stroke-width: 2;
    stroke: var(--vscode-button-hover-background);
}

.node-selected {
    stroke-width: 5;
    stroke: var(--vscode-button-hover-background);
}

/* greyed out element */
.greyed-out {
    opacity: 0.2;
}

/* label */
body[class='vscode-light'] .sprotty-label {
    fill: black;
    stroke-width: 0;
    cursor: default;
}

.sprotty-label {
    fill: var(--vscode-editorActiveLineNumber-foreground);
    stroke-width: 0;
    font-family: Arial, sans-serif;
    cursor: default;
}

.sprotty-button {
    fill: var(--vscode-editorActiveLineNumber-foreground);
}

/* Sprotty edges */
body[class='vscode-light'] .sprotty-edge .sprotty-label {
    fill: black
}

.sprotty-edge .sprotty-label {
    fill: var(--vscode-editorActiveLineNumber-foreground);
}

body[class='vscode-light'] .sprotty-edge {
    fill: none;
    stroke: black;
    stroke-width: 2px;
}

.sprotty-edge {
    fill: none;
    stroke: var(--vscode-editorActiveLineNumber-foreground);
    stroke-width: 2px;
}

body[class='vscode-light'] .sprotty-edge-arrow {
    fill: black
}

.sprotty-edge-arrow {
    fill: var(--vscode-editorActiveLineNumber-foreground);
}

.sprotty-edge>.sprotty-routing-handle {
    fill: var(--vscode-editor-selectionBackground);
    stroke: none;
    z-index: 1000;
}

.sprotty-edge>.sprotty-routing-handle[data-kind='line'] {
    opacity: 0.35;
}

.sprotty-edge>.sprotty-routing-handle.selected {
    fill: var(--vscode-editor-selectionHighlightBackground);
}

.sprotty-edge>.sprotty-routing-handle.mouseover {
    stroke: var(--vscode-editor-symbolHighlightBackground);
    stroke-width: 1;
}

.sprotty-edge.mouseover:not(.selected) {
    stroke-width: 3px;
}

.sprotty-hidden {
    width: 0px;
    height: 0px;
}